body {
    background-color: cadetblue;
    margin: 0px;
}

nav {
    background-color: darkkhaki;
    margin: 0px;
}

nav li {
    display: inline-block;
    padding: 1em;
    background-color: darksalmon;
    width: 75px;
    text-align: center;
}

nav li a {
    text-decoration: none;
    width: 100%;
}

nav li :hover {
    background-color: darkturquoise;
}

.wrapper {
    background-color: coral;
    margin: 0px 25px;
}

.wrapper h1, h3 {
    text-align: center;
}

article p {
    background-color: honeydew;
}