body {
    margin: 0px;
}
header{
 background-color: white;
 width: 70%;
 margin: 0px auto;

 background: #F8F8F8; 
 border: solid #BDBDBD 0; 
 box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1)  ; 
 -webkit-box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1)  ; 
 -moz-box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1)  ; 
}

nav {
    background-color: darksalmon;
    margin: 0px;
}

nav li {
    display: inline-block;
    text-align: center;

}

nav li a {
    text-decoration: none;
    padding: 1em;
    background-color: darksalmon;
}

nav li a:hover {
    background-color: darkturquoise;
}

